body{
  background: #DCE4E1;

}

.container{
  border-radius: 5px;
  padding:0;
  width:600px;
  height: auto;
  margin:auto;
  background: #008080;
  color: #fff;
  font-size:14px;
  font-family: sans-serif;

}

.extra{
  font-size: 16px;
  width:565px;
  height:auto;
  padding:20px;
  margin:auto;
  background-color: #F1F9F8;
  color: Black;
}
table{
  margin:auto;
}
.k1 {
  width:200px;
  heigth:auto;
}
.img img {
  padding:20px;
  width:400px;
  height: auto;
}
.img {
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .container{
    width: 800px;
  }
  .extra{
    width:765px;
    padding:20px;
  }
  .img img {
    padding:20px;
    height:200px;
    width: auto;
  }
}
